<div class="animate__animated animate__fadeIn animate__faster">
  <h2>Por Capital</h2>
  <hr />

  <div class="row">
    <div class="col">
      <app-bar-search-pais
        (onEnter)="buscar($event)"
        placeholder="Buscar por capital"
      ></app-bar-search-pais>
    </div>
  </div>

  <hr />
</div>

<div class="alert alert-danger" *ngIf="hayError">
  No se encontró ningun resultado con el termino: {{ termino }}
</div>

<div class="row" *ngIf="!hayError && paises.length > 0">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
